html {
	box-sizing: border-box;
	font-family: Montserrat, sans-serif;
	line-height: 1.15;
	text-size-adjust: 100%;
}

body {
	margin: 0;

	background: #EEF4FF;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}
